html,body{
    margin: 0;
    padding: 0;
}
.content{
    position: absolute;
    height: 100%;
    width: 100%;
}
.map{
    height: 100%;
    position: absolute;
    width: 80%;
}
.panel{
    float: right;
    width: 20%;
}
.mar-top-10{
    margin-top: 10px;
}